@tailwind base;
@tailwind components;
@tailwind utilities;

/* freight text */
@font-face {
    font-family: 'Freight Text';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Freight_Text/FreightText Book.ttf') format('truetype');
    src: local('/fonts/Freight_Text/FreightText Book.ttf') format('truetype');
  }

/* montserrat */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    src: local('/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    src: local('/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  }

  /* open sans */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    src: local('/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  }
  
  /* playfair display */
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Playfair_Display/PlayfairDisplay-SemiBold.ttf') format('truetype');
    src: local('/fonts/Playfair_Display/PlayfairDisplay-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format('truetype');
    src: local('/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format('truetype');
  }